<!DOCTYPE html>
<html>
   <head>
      <title>index</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
      <link href="https://fonts.googleapis.com/css?family=Notable&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="style/style.css">
   </head>
   <body>
      <div class="wrapper">
         <div class="header container">
            <ul class="row">
               <li class="col-lg-1">
               </li>
               <li class="col-lg-1">
               </li>
               <li class="col-lg-1">
               </li>
               <li class="col-lg-1">
               </li>
               <li class="col-lg-1">
               </li>
               <li class="col-lg-1 center">
                  <h1 style='font-family: "Notable", sans-serif;'><a href="#" id="index">Kunlez</a></h1>
               </li>
               <li class="col-lg-1"></li>
               <li class="col-lg-1"></li>
               <li class="col-lg-1">
                  <a href="#"><i class="fa fa-search"></i></a>
               </li>
               <li class="col-lg-1">
                  <a href="#"><i class="fa fa-user"></i></a>
               </li>
               <li class="col-lg-1">
                  <a href="#">Login</a>
               </li>
               <li class="col-lg-1">
                  <a href="#">Register</a>
               </li>
            </ul>
         </div>
         <hr>
         <div class="content-wrapper container">
            <div class="content-wrapper-top row">
               <div class="col-lg-8"></div>
               <select name="orderby cars" class="orderby col-lg-4 custom-select">
                  <option value="popularity" selected="selected">Sort by popularity</option>
                  <option value="rating">Sort by average rating</option>
                  <option value="date">Sort by latest</option>
                  <option value="price">Sort by price: low to high</option>
                  <option value="price-desc">Sort by price: high to low</option>
               </select>
            </div>
            <hr>
            <div class="content-wrapper-center row">
               <div class="sticky col-lg-4">
                  <div class="search">
                     <h4>Search</h4>
                     <hr>
                     <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search product...">
                        <div class="input-group-append">
                           <span class="input-group-text">Search</span>
                        </div>
                     </div>
                  </div>
                  <div class="product-categories">
                     <h4>Product categories</h4>
                     <hr>
                     <ul>
                        <li><a href="#" class="categories-active">All Category</a></li>
                        <li><a href="#">Biography</a></li>
                        <li><a href="#">Drama</a></li>
                        <li><a href="#">For Kid</a></li>
                        <li><a href="#">Romance</a></li>
                     </ul>
                  </div>
               </div>
               <div class="list-book col-lg-8">
                  <div class="container-fluid">
                     <div class="row list-row-item">
                        <div class="col-lg-4 item">
                           <a href=""><img src="https://auteur.g5plus.net/wp-content/uploads/2018/11/product-20-330x462.jpg" class="img-item"></a>
                           <h5 class="title-item"><a href="#">A Poem for Every night</a></h5>
                           <div class="author">
                              <h6>By</h6>
                              <ul class="list-author">
                                 <li class="author-item"><a href="#">Khanh Nguyen</a></li>
                                 <li class="author-item"><a href="#">My Ly</a></li>
                              </ul>
                           </div>
                        </div>
                        <div class="col-lg-4 item">
                           <a href=""><img src="https://auteur.g5plus.net/wp-content/uploads/2018/11/product-20-330x462.jpg" class="img-item"></a>
                           <h5 class="title-item"><a href="#">A Poem for Every night</a></h5>
                           <div class="author">
                              <h6>By</h6>
                              <ul class="list-author">
                                 <li class="author-item"><a href="#">Khanh Nguyen</a></li>
                                 <li class="author-item"><a href="#">My Ly</a></li>
                              </ul>
                           </div>
                        </div>
                        <div class="col-lg-4 item">
                           <a href=""><img src="https://auteur.g5plus.net/wp-content/uploads/2018/11/product-20-330x462.jpg" class="img-item"></a>
                           <h5 class="title-item"><a href="#">A Poem for Every night</a></h5>
                           <div class="author">
                              <h6>By</h6>
                              <ul class="list-author">
                                 <li class="author-item"><a href="#">Khanh Nguyen</a></li>
                                 <li class="author-item"><a href="#">My Ly</a></li>
                              </ul>
                           </div>
                        </div>
                        <div class="col-lg-4 item">
                           <a href=""><img src="https://auteur.g5plus.net/wp-content/uploads/2018/11/product-20-330x462.jpg" class="img-item"></a>
                           <h5 class="title-item"><a href="#">A Poem for Every night</a></h5>
                           <div class="author">
                              <h6>By</h6>
                              <ul class="list-author">
                                 <li class="author-item"><a href="#">Khanh Nguyen</a></li>
                                 <li class="author-item"><a href="#">My Ly</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>