<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 403</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Notable&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/error.css">
</head>
<body>
    <div class="container">
        <div class="header container">
            <div class="search">

            </div>
            <ul class="row">
                <li class="col-lg-1">
                </li>
                <li class="col-lg-1">
                </li>
                <li class="col-lg-1">
                </li>
                <li class="col-lg-2"></li>
                <li class="col-lg-3 center">
                    <h1 style='font-family: "Notable", sans-serif;'><a href="/" id="index">Kunlez</a></h1>
                </li>

                <li class="col-lg-2">
                    <a href="/user" id="btn-account">
                        management
                    </a>
                </li>
                <li class="col-lg-1" id="logout">
                    <a >Logout</a>
                </li>
                <li class="col-lg-1" id="login-register">
                    <a href="/login">Login</a>
                </li>
            </ul>
        </div>
        <div class="row content-error">
            <h1>403</h1>
            <b>you do not have access</b>
        </div>
    </div>

</body>
</html>