.header ul li {
    list-style: none;
    color: black;
}
.header ul li a {
    color: black;
}
.header ul li a i {
    font-size: 22px;
    bottom: 0px;
    position: absolute;
}


.product-categories a {
    color: #ababab;
    font-weight: 500;
}

.product-categories .categories-active {
    font-weight: 700;
    color: red;
}

.product-categories
 ul {
    list-style: none;
}

.product-categories ul li {
    margin: 5px;
    cursor: pointer;
}

/*style for content list-itmem*/
.list-book .list-row-item {
    margin-top: 45px;
}
.list-book .item .img-item {
    width: 100%;
    height: auto;
}


.list-book .item .author .list-author {
    list-style: none;
    display: inline;
}

.list-book .item .author h6 {
    display: inline;
    float: left;
}
.list-book .item a {
    color: black;
    text-decoration: none;
}
.list-book .item .author .list-author .author-item {
    float: left;
    margin-left: 2px;
}
.list-book .item .author .list-author .author-item a {
    /* float: right; */
    padding-left: 5px;
    color: #ababab;
}
.title-item {
    text-align: center;
    min-height: 50px;
    font-family: 'Lacquer', sans-serif;
}

.item {
    margin-top: 30px;
}
#name-book-of {
    display: inline;
    /* padding-left: 15px; */
    color: red;
    border: dotted 1px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
}
#logout {
    display: none;
}

#pagination {
    display: inline-block;
    margin-top: 10px;
}

#pagination .page-item {
    float: left;
}