<!DOCTYPE html>
<html>
<head>
    <title>Author</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Notable&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<div class="wrapper">
    <div class="header container">
        <div class="search">

        </div>
        <ul class="row">
            <li class="col-lg-1">
            </li>
            <li class="col-lg-1">
            </li>
            <li class="col-lg-1">
            </li>
            <li class="col-lg-1">
            </li>
            <li class="col-lg-1">
            </li>
            <li class="col-lg-1 center">
                <h1 style='font-family: "Notable", sans-serif;'><a href="/" id="index">Kunlez</a></h1>
            </li>
            <li class="col-lg-1"></li>
            <li class="col-lg-1"></li>
            <li class="col-lg-1"></li>
            <li class="col-lg-1" id="logout">
                <a >Logout</a>
            </li>
            <li class="col-lg-1" id="login-register">
                <a href="/login">Login</a>
            </li>
        </ul>
    </div>
    <hr>
    <div class="content-wrapper container">
        <div class="content-wrapper-top row">
            <div class="col-lg-8">
                <a href="/user" id="btn-account">

                </a>
            </div>
        </div>
        <hr>
        <div class="content-wrapper-center row">
            <div class="sticky col-lg-2">

            </div>
            <div class="list-book col-lg-8">

                <div class="container-fluid">
                    <div class="row list-row-item" id="list-book">
                    </div>
                </div>
            </div>

            <div class="sticky col-lg-2">

            </div>
        </div>
    </div>
</div>
<script src="/js/custom/common.js"></script>
<script src="/js/ajax/authorAJAX.js"></script>
<script src="/js/custom/indexCustom.js"></script>
</body>
</html>